* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  padding: 0px;
  margin: 0px;
}
.rive-canvas {
  width: inherit;
  height: inherit;

  
}

.rive-canvas-hidden {
  opacity: 0;

}